body {
    overflow: hidden;
    background: #D4EECE;
}

.welcome {
    position: relative;
    left: 40px;
    top: 10px;
}

#menu {
    list-style-type: none;
    padding-top: 10px;
}

.natural {
    background: ivory;
    width: 80px;
    height: 480px;
    border: solid 1px black;
    display: inline-block;
    position: relative;
    text-align: center;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sharp {
    background: #555D50;
    width: 40px;
    height: 320px;
    display: inline-block;
    color: white;
    position: relative;
    z-index: 5;
    text-align: center;
}

#c_sharp {
    left: -22px;
}

#d {
    left: -44px;
}

#d_sharp {
    left: -66px;
}

#e, #f {
    left: -88px;
}

#f_sharp {
    left: -110px;
}

#g {
    left: -132px;
}

#g_sharp {
    left: -154px;
}

#a {
    left: -176px;
}

#a_sharp {
    left: -198px;
}

#b, #c_high {
    left: -220px;
}

.piano_position {
    position: relative;
    left: 40px;
    top: 50px;
}

#controls {
    position: relative;
    left: 750px;
    top: -490px;
}

.default {
    display: none;
}

.button {
    padding: 20px;
    margin: 20px 0 20px 0px;
    width: 200px;
    background: red;
    display: inline;
    position: relative;
    /* http://border-radius.com/ */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* http://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#start {
    background: yellow;
    width: 300px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#qna {
    display: none;
    background: yellow;
    width: 0px;
    height: 0px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#answers {
    list-style-type: none;
}

.answer {
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#try_again {
    display: none;
}

#map {
    width: 800px;
    height: 500px;
    margin: 25px 0 0 40px;
}

#info {
    display: none;
    background: yellow;
    height: 50px;
    width: 780px;
    margin: 10px 0 0 40px;
    padding: 10px;
}

.quiz_position {
    position: relative;
    left: 40px;
    top: 10px;
}

#timer {
    width: 0px;
}